.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info-block .fighter-preview___img {
  height: 325px;
  height: 400px;
}

.fighter-preview___info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 17px;
  font-family: 'Arial Black';
  font-weight: 700;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}
